@{ ViewBag.Title = "Como Funciona?"; Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

<section class="banner como-funciona">
  <h1>COMO FUNCIONA?</h1>
</section>

<section class="conteudo funcionamento flex">
  <div class="passos">
    <img src="/imagens/vinhetas/ilustração-1.jpg" alt="">
    <h3>Faça seu pedido</h3>
    <p>Especifique o produto que deseja e sua quantidade</p>
  </div>

  <i class="fas fa-chevron-right"></i>

  <div class="passos">
    <img src="/imagens/vinhetas/ilustração-2.jpg" alt="">
    <h3>Veja os orçamentos</h3>
    <p>Você receberá diferentes orçamentos das empresas que fornencem seu produto</p>
  </div>

  <i class="fas fa-chevron-right"></i>

  <div class="passos">
    <img src="/imagens/vinhetas/ilustração-3.jpg" alt="">
    <h3>Otimize!</h3>
    <p>Escolha o pedido que mais te agrada e otimize seu tempo!</p>
  </div>
</section>

<section class="conteudo vantagens">
  <div class="flex">
    <div class="vantagens-texto consumidor flex">
      <h2>É bom para<br> quem é consumidor</h2>
      <p>Você receberá diferentes orçamentos das empresas que fornencem seus produtos</p>
      <div class="beneficios flex">
        <div class="beneficio">
          <i class="far fa-list-alt"></i>
          <p>+ Opções</p>
        </div>
        <div class="beneficio">
          <i class="far fa-clock"></i>
          <p>+ Rápido</p>
        </div>
      </div>
    </div>

    <div class="vantagens-img">
      <img src="/imagens/vinhetas/cadastro-comprador.jpg" alt="">
    </div>
  </div>

  <div class="flex">
    <div class="vantagens-img">
      <img src="/imagens/vinhetas/cadastro-vendedor.jpg" alt="">
    </div>

    <div class="vantagens-texto empresario flex">
      <h2>É bom para<br> quem é empresário</h2>
      <p>Você receberá diferentes orçamentos das empresas que fornencem seus produtos</p>
      <div class="beneficios flex">
        <div class="beneficio">
          <i class="far fa-user"></i>
          <p>+ Clientes</p>
        </div>
        <div class="beneficio">
          <i class="far fa-thumbs-up"></i>
          <p>+ Vendas</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner comece-ja">
  <div class="conteudo flex">
    <img src="/imagens/vinhetas/cotacao.png" alt="">
    <h2>Começe suas<br>cotações hoje</h2>
  </div>
</section>

