
@{
    ViewBag.Title = "Como Funciona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="white-container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <h4 class="title">COMO FUNCIONA</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <p>O Site CotaPedido é uma plataforma que interliga os compradores de empresas a vendedores. A plataforma permite ao comprador cadastrar os seus pedidos de compra ou importa-los através de uma planilha eletrônica, indicando qual é o produto, a quantidade e também observações complementares as solicitações.</p>
                    <p>Imediatamente todos os vendedores que pertence a uma determinada região recebem a solicitação de compra por e-mail ou pela própria plataforma e assim podem informar o seu preço para a aquisição dos produtos listados no pedido.</p>
                    <p>As vantagens são enormes para os ambos os lados, os compradores terão uma divulgação dos pedidos de compra de uma forma bem mais ampla e automática e os vendedores terão um maior recebimento de pedidos de compra de forma mais organização e centralizada.</p>
                    <p></p>
                    <p></p>
                    <p></p>                   
                </div>
            </div>
        </div>
    </div>
</div>
