
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="white-container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <h4 class="title">PERGUNTAS FREQUENTES</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <p><strong>O que é o CotaPedido?</strong></p>
                    <p>O CotaPedido é uma plataforma que interliga compradores de empresas que cadastram os seus pedidos e vendedores que recebem os cadastros desses pedidos e podem realizar um orçamento para os pedidos.</p>
                  
                    <p><strong>O que Compradores podem fazer?</strong></p>
                    <p>Os compradores de empresas podem cadastrar os seus pedidos de compra que ficarão disponibilizado para todos os vendedores do site.</p>

                    <p><strong>O que os vendedores podem fazer?</strong></p>
                    <p>Os Vendedores poderão receber propostas de pedidos de compra da sua região e informar os orçamentos para cada pedido que achar interessante.</p>

                    <p><strong>Como o Vendedor pode informar o orçamento?</strong></p>
                    <p>O vendedor poderá selecionar o pedido que compra que achar interessante e informar para cada produto o seu valor de orçamento.</p>

                    <p><strong>Como o comprador poderá escolher o orçamento?</strong></p>
                    <p>O comprador listará até 5 cinco orçamentos para os seus pedidos, ao identificar um orçamento que lhe convém o comprador poderá marcar esse orçamento e o mesmo será o escolhido.</p>

                    <p><strong>Como o vendedor irá saber se ganhou um pedido com o seu orçamento?</strong></p>
                    <p>O Vendedor receberá um e-mail caso o comprador escolher o seu orçamento e poderá entrar em contato com o vendedor por fora do site.</p>

                    <p><strong>Caso o Vendedor ganho um orçamento a venda dele é garantida?</strong></p>
                    <p>Não caso o vendedor ganhe um orçamento e entre em contato com o comprador o site CotaPedido não garante a efetivação da venda entre as duas partes.</p>

                    <p><strong>O comprador cadastrou um pedido o recebimento de orçamentos é garantido?</strong></p>
                    <p>Não o site CotaPedido não garante que um pedido cadastrado receberá orçamentos, mesmo que a visibilidade do pedido possa ocorrer para um grande número de vendedores.</p>

                    <p><strong>Qual é o custo para o Comprador?</strong></p>
                    <p>Para o comprador cadastrar os seus pedidos de compra não há custos.</p>

                                    


                </div>
            </div>
        </div>
    </div>
</div>

