@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Política de Uso";

}
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="white-container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">
                    <h4 class="title">POLÍTICA DE USO</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 hero-feature">

                    <iframe src="https://cotapedido.com/politica.pdf" width="90%" height="780" style="border: none;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


