@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    ViewBag.Title = "Quem Somos";
}

  <section class="banner como-funciona">
    <h1>QUEM SOMOS</h1>
  </section>
  <section class="conteudo funcionamento">
    <div class="flex">PRESIDENTE PRUDENTE, Brasil, 15 de maio de 2017 – Realizar compras para uma empresa com o preço ideal pode ser um grande suplício, há uma imensa variedade de produtos e fornecedores que muitas vezes entregam um produto com uma qualidade ruim e preço baixo ou produtos com ótima qualidade e um preço que está fora da realidade da empresa. Pensando nisso foi criado o CotaPedido.com uma plataforma que interliga os compradores com diversos fornecedores de produtos e serviços facilitando e otimizando o processo de compra para as empresas.</div><br/>
    <div class="flex">A plataforma permite ao comprador cadastrar os seus pedidos de compra ou importa-los através de uma planilha eletrônica, indicando qual é o produto, a quantidade e também observações complementares as solicitações. Imediatamente todos os vendedores que pertence a uma determinada região recebem a solicitação de compra por e-mail ou pela própria plataforma e assim podem informar o seu preço para a aquisição dos produtos listados no pedido. As vantagens são enormes para os ambos os lados, os compradores terão uma divulgação dos pedidos de compra de uma forma bem mais ampla e automática e os vendedores terão um maior recebimento de pedidos de compra de forma mais organização e centralizada.</div><br />
    <div class="flex">Para se ter uma ideia da praticidade oferecida pela plataforma CotaPedido.com, um mesmo pedido pode ter uma variação de cinquenta e cinco porcento no seu preço final, sem contar o tempo que no processo manual de contatar fornecedores por telefone ou e-mail é muito maior. “Normalmente nas cotações algumas empresas precisam ter entre três e cincos orçamentos para aprovar o pedido de compra. Usando nossa ferramenta ao inserir um novo pedido milhares de vendedores irão receber o pedido de compra e poderão informar os valores de seus produtos. Restando para o comprador escolher o melhor orçamento atendendo a vários critérios não somente o de menor custo”, explica Sérgio Pedro da Silva gerente do CotaPedido.</div><br />
    <div class="flex">O Site CotaPedido.com é uma plataforma desenvolvimento pela DESENVE - Sistemas para o Comércio, empresa de Tecnologia da Informação.</div><br />
    <div class="flex">CNPJ: 30.115.469/0001-37</div><br />
  </section>
