<div id="newSubcategory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastrar Subcategoria</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered tbl-checkout">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;">Nome</td>
                            <td>
                                <input id="novaSubcategoria" type="text" name="" class="form-control" />
                                <div class="text-danger" id="errorNovaSubcategoria"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnIncluirNovaSubcategoria">Gravar</button>
            </div>
        </div>
    </div>
</div>
