@{ Layout = null; }

<div class="conteudo">
      @*<div class="parceiros flex">
        <img src="/imagens/vinhetas/kalunga.png" alt="">
        <img src="/imagens/vinhetas/leroy-merlin.png" alt="">
        <img src="/imagens/vinhetas/telhanorte.png" alt="">
        <img src="/imagens/vinhetas/casas-bahia.png" alt="">
        <img src="/imagens/vinhetas/marketplace-ponto-frio-3.png" alt="">
      </div>*@
      <div class="institucional flex">
        <div class="coluna">
          <h3>Contate-nos</h3>
          <a href="mailto:contato@cotapedido.com">contato@cotapedido.com</a>
          <a href="tel:+551891234321">(18) 91234-4321</a>
        </div>
        <div class="coluna">
          <h3>Novidades</h3>
          @*<p>cadastre seu email para ficar por dentro de novas cotações</p>
          <form action="">
            <input type="email" placeholder="Seu email">
            <button type="submit">Inscrever-se</button>
          </form>*@
        </div>
        <div class="coluna">
          <h3>Sobre</h3>
          <ul>
            <li><a href="">Quem somos</a></li>
            <li><a href="">Sobre o envio</a></li>
            <li><a href="">Como funciona</a></li>
          </ul>
        </div>
        <div class="coluna">
          <h3>Categorias</h3>
          <ul>
            <li><a href="">Destaques</a></li>
            <li><a href="">Todas as categorias</a></li>
          </ul>
        </div>
      </div>
    </div>