@{ Layout = null;}
<div class="menu">
  <ul>
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.RouteUrl("SiteComoFunciona")">Como funciona?</a></li>
    <li><a href="@Url.RouteUrl("SiteSobre")">Quem Somos</a></li>
    <li><a href="@Url.Action("Index","Contato")">Fale Conosco</a></li>
  </ul>
</div>